<!DOCTYPE html>
<html lang="en">
{{> htmlHead}}
<body>
{{> header}}
{{> navigation }}


<div class="container py-3">
  <div class="row">
      <div class="col p-3">

        {{> subtitle text="About Us"}}
        <div class="p-3">
        {{> info}}
        </div>

        <div class="p-3">
        {{{legal}}}
        </div>


      </div>
  </div>
</div>


{{> footer}}
{{> htmlFoot}}
</body>
</html>
