<!DOCTYPE html>
<html lang="en">
{{> htmlHead}}
<body>
{{> header}}
{{> navigation }}
{{> intro }}

{{> subtitle title="Featured Products" text="No account required. One click purchase. Convenience and Security via Stripe."}}

<div class="container py-3">
  <div class="row">
    {{#each featuredProducts}}
      <div class="col-md-6 p-3">
        {{> productCard}}
      </div>
    {{~/each}}
  </div>
</div>

{{> subtitle title="Products people download a lot" text="Top styles from most popular projects"}}

<div class="container py-3">
  <div class="row">
    {{#each popularProducts}}
      <div class="col-md-4 p-3">
        {{> productCard}}
      </div>
    {{~/each}}
  </div>
</div>

{{> footer}}
{{> htmlFoot}}
</body>
</html>
