<!DOCTYPE html>
<html lang="en">
{{> htmlHead}}
<body>
{{> header}}
{{> navigation }}

{{> subtitle title=selectedProduct.title text=selectedProduct.description}}

{{#if selectedProduct.screenshots}}
  <div class="container py-3">
    <div class="row">
      {{#each selectedProduct.screenshots}}
        <div class="col-md-4 p-3">
          <div class="card">
            <img class="card-img-top img-fluid" src="{{inDoubleQuotedAttr this}}" alt="Product Screenshot">
          </div>
        </div>
      {{~/each}}
    </div>
  </div>
{{/if}}

<div class="container py-3">
  <div class="row">
      <div class="col-lg-8 p-3">
        {{> productScreenshotCard}}
      </div>
      <div class="col-lg-4 p-3">
        {{> quickPurchaseCard}}
        {{> livePreviewCard}}
        {{> productPropertiesCard}}
        {{> productLicensingCard}}
      </div>
  </div>
</div>



{{> subtitle title="Related Products" text="Products you might also be interested in."}}
<div class="container py-3">
  <div class="row">
    {{#each relatedProducts}}
      <div class="col-md-4 p-3">
        {{> productCard}}
      </div>
    {{~/each}}
  </div>
</div>

{{> footer}}
{{> htmlFoot}}
</body>
</html>
