<!DOCTYPE html>
<html lang="en">
{{> htmlHead}}
<body>
{{> header}}
{{> navigation }}

{{> subtitle title="Retrieve Purchases" text="We value your privacy and security, your purchase information rests safely encrypted until the moment you need it."}}

<div class="container pt-3" style="min-height: 75vh;">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-block">

          <form action="{{inDoubleQuotedAttr link.loginHandler}}" method="post" enctype="application/x-www-form-urlencoded">

            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <div class="form-group">
              <label for="email">E-mail</label>
              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">Enter the email address you used during your Stripe purchase process, to unlock and retrieve the full list of your past and current downloads.</small>
            </div>

            <button type="submit" class="btn btn-primary">Send Request</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> htmlFoot}}
</body>
</html>
