<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') -%>
<body>
<%- include('navigation.ejs') -%>


<div class="container-fluid py-3">
  <div class="row">
    <div class="col">
      <div class="card card-danger">
        <div class="card-block">
          <h4 class="card-title">Error</h4>
          <p class="card-text p-3"><%= message %></p>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('footer.ejs') -%>
</body>
</html>
