<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') -%>
<body>
<%- include('navigation.ejs') -%>
<div class="container pt-3">
  <div class="row align-items-center" style="min-height: 75vh;">
    <div class="col">
      <div class="card card-danger">
        <div class="card-block">
          <h4 class="card-title"><i class="fa fa-fw fa-2x fa-bomb"></i>Error</h4>
          <p class="card-text p-3 text-white"><%= message %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('footer.ejs') -%>
</body>
</html>
