<!DOCTYPE html>
<html lang="en">
{{> htmlHead}}
<body>

{{#if isLoggedIn}}

<div class="alert alert-success m-0" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
  <h4 class="alert-heading">Well done!</h4>
  <p>You are now logged-in as {{inHTMLData username}}! </p>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>

{{/if}}

{{>navigation }}
{{>intro }}

<div class="container" style="padding-top: 5rem;">
    <div class="row">
        <div class="col">
            <h1 class="display-4">New Products</h1>
            <p class="lead text-muted">
                Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
            </p>
        </div>
    </div>
</div>

<div class="container py-3">
  <div class="row">
    {{#each featuredProducts}}
      <div class="col-md-6 p-3">
        {{> productCard}}
      </div>
    {{~/each}}
  </div>
</div>



<div class="container" style="padding-top: 5rem;">
    <div class="row">
        <div class="col">
            <h1 class="display-4">Products people download a lot.</h1>
            <p class="lead text-muted">
                Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
            </p>
        </div>
    </div>
</div>

<div class="container py-3">
  <div class="row">
    {{#each popularProducts}}
      <div class="col-md-4 p-3">
        {{> productCard}}
      </div>
    {{~/each}}
  </div>
</div>

{{> footer}}
{{> htmlFoot}}
</body>
</html>
