<div class="jumbotron">
  <div class="container">
    <h1 class="display-3"><%= model.primaryTitle %></h1>
    <p><%= model.primaryDescription %></p>
    <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
  </div>
</div>
