<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') -%>
<body>
<%- include('navigation.ejs') -%>
<div class="container-fluid pt-3" style="min-height: 75vh;">


  <div class="row">

    <% for(let x=0; x<3*10; x++){ %>
      <div class="col-md-4 p-3">
      <div class="card ">
        <div class="card-header">
          Featured
        </div>
        <div class="card-block">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-info">Preview</a>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
      </div>
    <% } %>

  </div>

</div>
<%- include('footer.ejs') -%>
</body>
</html>
