<!DOCTYPE html>
<html lang="en">
{{> htmlHead}}
<body>
{{> header}}
{{> navigation }}

{{> subtitle title="Signup Form" text="Glad to have you with us."}}

<div class="container pt-3" style="min-height: 75vh;">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-block">
          <form action="{{inDoubleQuotedAttr link.signupHandler}}" method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Enter Username">
              <small id="usernameHelp" class="form-text text-muted">Usernames can only contain letters, dash and numbers.</small>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp" placeholder="Password">
              <small id="passwordHelp" class="form-text text-muted">Please make your password 10 characters or longer.</small>
            </div>
            <button type="submit" class="btn btn-primary">Signup</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> htmlFoot}}
</body>
</html>
