<!DOCTYPE html>
<html lang="en">
{{> htmlHead}}
<body>
{{> header}}
{{> navigation }}

{{> subtitle title="Account Dashboard" text="Below you will find all the information necessary to operate your account efficiently and securely."}}


<div class="container pt-3">
  <div class="row py-3">
    <div class="col-lg-6">
      {{> userActionsCard}}

    </div>
    <div class="col-lg-6">
      {{> userPurchasesCard}}

    </div>
    <div class="col-lg-6">
      {{> userProfileCard}}

    </div>
    <div class="col-lg-6">
      {{> userSecurityCard}}

    </div>
    <div class="col-lg-6">
      {{> userActivityCard}}

    </div>
    <div class="col-lg-6">
      {{> userSupportCard}}

    </div>
  </div>
</div>

{{> footer}}
{{> htmlFoot}}
</body>
</html>
