<div class="card mb-3">
  <div class="card-block">
    <a href="{{inDoubleQuotedAttr selectedProduct.demo}}" class="btn btn-primary btn-block">Live Preview</a>
    <p class="card-text text-muted text-center px-3 mx-3 small">Preview {{inHTMLData selectedProduct.title}} in full prior to purchase.</p>
  </div>
</div>
