<div class="card">
  <div class="card-header">{{inHTMLData selectedProduct.title}}</div>
  <img class="card-img-top img-fluid" src="{{inDoubleQuotedAttr selectedProduct.screenshot}}" alt="{{inDoubleQuotedAttr selectedProduct.title}} Screenshot">
  <div class="card-block">
    <p class="card-text">{{inHTMLData selectedProduct.description}}</p>
  </div>
</div>
