<div class="card">
  <div class="card-header">Licensing Options</div>

    <div class="container-fluid p-3">
      {{#each selectedProduct.licensing}}
        <div class="row">

            <div class="col-4 p-3"><span class="small text-muted">{{inHTMLData type}}:</span></div>
            <div class="col-8 p-3">
              {{>
                buyButton
                stripePublishableKey=../stripePublishableKey
                title=../selectedProduct.title
                amount=amount
                price=price
                license=type
              }}
            </div>
        </div>
      {{~/each}}
    </div>
    <div class="card-block  text-center">

      <i class="fa fa-fw fa-info-circle text-info"></i>

      <span class="small">
      <a href="{{inDoubleQuotedAttr link.about}}#licenses">Licenses</a> and <a href="{{inDoubleQuotedAttr link.about}}#legal">Terms of Service</a>
      </span>


    </div>
</div>
