<div class="card mb-3">
  <div class="card-block">
    <a href="#" class="btn btn-primary btn-block">BUY</a>
    <p class="card-text text-muted text-center px-3 mx-3 small">Purchase {{inHTMLData selectedProduct.title}} Standard License  for ${{inHTMLData selectedProduct.price}}</p>
  </div>
</div>
