<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{inDoubleQuotedAttr description}}">
<meta name="author" content="{{inDoubleQuotedAttr author}}">
<link rel="icon" href="favicon.ico">
<title>{{inHTMLData title}}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<style>
  body {
    font-weight: lighter;
  }
  .card {
    font-weight: lighter;
  }
</style>
