<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{inDoubleQuotedAttr description}}">
<meta name="author" content="{{inDoubleQuotedAttr author}}">
<link rel="icon" href="/images/favicon.ico">
<title>{{inHTMLData title}}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<style>

  body {
    font-weight: lighter;
    background: #f2f2f4;
  }

  .card {
    font-weight: lighter;
  }

  a { color:#3785c9; }

</style>
