{{inHTMLData description }}
Designed and built with all the might in the world by
<a class="text-warning" href="https://github.com/fantasyui-com">Captain Fantasy</a> and
<a class="text-warning" href="http://fantasyui.com">fantasyui.com</a>.
Maintained at <a class="text-warning" href="https://github.com/fantasyui-com/online-marketplace">fantasyui-com/online-marketplace</a> with the help of
<a class="text-warning" href="https://github.com/fantasyui-com/online-marketplace/graphs/contributors">our contributors</a>.

Code behind <a class="text-warning" href="https://github.com/fantasyui-com/online-marketplace">{{inHTMLData program}}</a> is currently at <span class="text-warning">{{inHTMLData version}}</span>
Code licensed <a rel="license" class="text-warning" href="https://github.com/fantasyui-com/online-marketplace/blob/master/LICENSE">{{inHTMLData license}}</a>,
docs <a rel="license" class="text-warning" href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
