{{inHTMLData description }}
Designed and built with all the <i class="fa fa-fw fa-heartbeat text-danger"></i> and <i class="fa fa-fw fa-bolt text-warning"></i> in the world by
<a href="https://github.com/fantasyui-com">Captain Fantasy</a> and
<a href="http://fantasyui.com">fantasyui.com</a>.
Maintained at <a href="https://github.com/fantasyui-com/online-marketplace">fantasyui-com/online-marketplace</a> with the help of
<a href="https://github.com/fantasyui-com/online-marketplace/graphs/contributors">our contributors</a>.

Code behind <a href="https://github.com/fantasyui-com/online-marketplace">{{inHTMLData program}}</a> is currently at <span>{{inHTMLData version}}</span>
Code licensed <a rel="license" href="https://github.com/fantasyui-com/online-marketplace/blob/master/LICENSE">{{inHTMLData license}}</a>,
docs <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
