<div class="jumbotron" style="overflow: hidden;">
  <div class="container">
    <h1 class="display-4">{{inHTMLData title}}</h1>
    <p>{{inHTMLData description }}</p>
    <p><a class="btn btn-primary btn-lg" href="{{inDoubleQuotedAttr link.about}}" role="button">Learn more &raquo;</a></p>
  </div>
</div>
