<div class="container" style="padding-top: 5rem;">
    <div class="row">
        <div class="col">

            <h1 class="display-4">{{inHTMLData title}}</h1>
            <p class="lead text-muted">
                {{inHTMLData text}}
            </p>
            
        </div>
    </div>
</div>
