<div class="card py-3 my-3" style="min-height: 75vh;">

  <div class="card-block">
    <h4 class="card-title text-muted">Recent Account Activity</h4>
  </div>

  <ul class="list-group list-group-flush">

    {{#each recentActivity}}
      <li class="list-group-item small">
        {{inHTMLData note }}
      </li>
    {{~/each}}

  </ul>

  <div class="card-block">
    <p class="card-text"></p>
  </div>

</div>
